@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo 2';
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #424242;
  width: 100%;
  height: 7vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-family: 'Baloo 2',cursive;
  z-index: 10;
}

.navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
}

.navbar .navbar-list .navbar-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  color: #F5F5F5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .navbar-list .navbar-list-item:hover {
  color: #40AC79;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item .navbar-list-item-icon {
  height: 100%;
  text-align: center;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
  width: 100%;
  font-weight: 600;
  color: #424242;
}

.bio .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
}

.bio .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
}

.bio .image-container .first-decorative-circle,
.bio .image-container .second-decorative-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  background-color: #40AC79;
}

.bio .image-container .first-decorative-circle {
  top: 10px;
  background-color: rgba(102, 218, 164, 0.4);
}

.bio .image-container .second-decorative-circle {
  top: 20px;
  background-color: rgba(107, 233, 174, 0.4);
}

.bio .greeting {
  font-size: 1.6em;
  letter-spacing: 0.1rem;
}

.bio .greeting .greeting-colored-text {
  color: #40AC79;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.buttons-container .buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 25%;
}

.buttons-container .buttons-list a:nth-child(1) > .buttons-list-item:hover {
  background-color: #54C1CD;
}

.buttons-container .buttons-list a:nth-child(2) > .buttons-list-item:hover {
  background-color: #F46A25;
}

.buttons-container .buttons-list a:nth-child(3) > .buttons-list-item:hover {
  background-color: #0A66C2;
}

.buttons-container .buttons-list a .buttons-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #F5F5F5;
  background-color: #2A2A2A;
  border-radius: 1.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.buttons-container .buttons-list a .buttons-list-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.buttons-container .buttons-list a .buttons-list-item .buttons-list-item-icon {
  width: 50%;
  height: 50%;
}

#skills-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin-top: 7rem;
  padding: 3rem 0;
  width: 90%;
  border-radius: 80px;
  color: #F5F5F5;
  background-color: #424242;
}

#skills-section .skills-section-good,
#skills-section .skills-section-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills-section .skills-section-good h2,
#skills-section .skills-section-basic h2 {
  text-align: center;
  font-size: 2.5em;
}

#skills-section .skills-section-good .skills-section-good-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8rem;
  padding: 3rem;
  color: #40AC79;
}

#skills-section .skills-section-good .skills-section-good-icons .good-knowledge-icon {
  width: 120px;
  height: 120px;
}

#skills-section .skills-dividing-line {
  height: 5px;
  width: 100%;
  border-radius: 20px;
  background-color: grey;
}

#skills-section .skills-section-basic .skills-section-basic-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  padding: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills-section .skills-section-basic .skills-section-basic-icons .basic-knowledge-icon {
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */