@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

$nav-bar-height: 7vh;
$main-color: #40AC79;
$leading-dark-color: #424242;
$off-white: #F5F5F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2';
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: $leading-dark-color;
    width: 100%;
    height: 7vh;
    position: sticky;
    top: 0;
    font-family: 'Baloo 2',cursive;
    z-index: 10;
    .navbar-list {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;

        .navbar-list-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.5em;
            align-items: center;
            font-size: 1.5em;
            color: $off-white;
            transition: 0.2s;

            &:hover {
                color: $main-color;
                cursor: pointer;
            }

            .navbar-list-item-icon {
                height: 100%;
                text-align: center;
            }
        }
    }
}
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    width: 100%;
    font-weight: 600;
    // margin-top: 7rem;
    color: $leading-dark-color;
    .image-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 200px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 1;
            position: absolute;
        }
        .first-decorative-circle,
        .second-decorative-circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            background-color: #40AC79;
        }
        .first-decorative-circle {
            top: 10px;
            background-color: rgba(102, 218, 164, 0.4);
        }
        .second-decorative-circle {
            top: 20px;
            background-color: rgba(107, 233, 174, 0.4);
        }
    }
    .greeting {
        font-size: 1.6em;
        letter-spacing: 0.1rem;
        .greeting-colored-text {
            color: $main-color;
        }
    }
}

.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .buttons-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        width: 25%;
        a {
            &:nth-child(1) > .buttons-list-item:hover {
                background-color: #54C1CD;
            }
            &:nth-child(2)>.buttons-list-item:hover {
                background-color: #F46A25;
            }
            &:nth-child(3)>.buttons-list-item:hover {
                background-color: #0A66C2;
            }
            .buttons-list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 4rem;
                height: 4rem;
                color: $off-white;
                background-color: #2A2A2A;
                border-radius: 1.2rem;
                transition: all 0.2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2, 1.2);
                }
                .buttons-list-item-icon {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}

#skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 7rem;
    padding: 3rem 0;
    width: 90%;
    // width: 100vw;
    border-radius: 80px;
    color: $off-white;
    background-color: $leading-dark-color;
    .skills-section-good,
    .skills-section-basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            text-align: center;
            font-size: 2.5em;
        }
    }
    .skills-section-good {
        .skills-section-good-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8rem;
            padding: 3rem;
            color: $main-color;
            .good-knowledge-icon {
                width: 120px;
                height: 120px;
            }
        }
    }
    .skills-dividing-line {
        height: 5px;
        width: 100%;
        border-radius: 20px;
        background-color: grey;
    }
    .skills-section-basic {
        .skills-section-basic-icons {
            display: flex;
            justify-content: center;
            gap: 6rem;
            padding: 3rem;
            flex-wrap: wrap;
            .basic-knowledge-icon {
                width: 100px;
                height: 100px;
            }
        }
    }
}


@media screen and (min-width: 1366px) and (min-height: 768px) {

}